<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/reset.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../seven_segment/Seven Segment.ttf">
    <title>Panel Kontrolny</title>
</head>
<body>
    <ul class="navbar">
        <li><a class="row" href="alarms">Alarmy</a></li>
        <li><a class="row" href="workers">Pracownicy</a></li>
        <li><a class="row" href="deliveries">Dostawy</a></li>
        <li><a class="row" href="terminal">terminal</a></li>
        <li><a class="row" href="/">Wróć</a></li>
    </ul>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Stan Roboczy</th>
                <th>Stanowisko</th>
            </tr>
        </thead>
    <tbody>
        {{#each products}}
            <tr>
                <td>{{this.Id}}</td>
                <td>{{this.Imie}}</td>
                <td>{{this.Nazwisko}}</td>
                <td>{{this.StanRoboczy}}</td>
                <td>{{this.Stanowisko}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
</div>
</body>
</html>